; EOS credentials – this file is gitignored.
; Generated locally from the values previously in eos_bootstrap.gd.

[eos]
product_name="monke"
product_version="1.0"
product_id="8e49d6f8080d477d9dc872b969129bb4"
sandbox_id="a5bcd6a5b4e34dad86ee791c1ced2191"
deployment_id="edfe0abdcd2f45cd96ebf98ab7bb66b4"
client_id="xyza7891fm4iIUNH759Z6dB3pD6sg7sV"
client_secret="WFTyAyexvvN0k9fzTV9km/Ch2GFKLOEf3QETSGgM+Qs"
